<%- include('partials/header', {titulo: 'GreenRide - Error 404' , pagina: 'error' }) %>

<main>
    <div class="text-center mt-5 mb-5">
        <h1>Error 404 - Pagina no encontrada</h1>
        <p class="error404">Lo sentimos, la pagina que buscas no existe.</p>
        <a href="/" class="btn btn-primary">Volver al Inicio</a>
    </div>
</main>

<%- include('partials/footer', {pagina: 'error' }) %>