*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background: url("img/fondoLogin.jpg") no-repeat center center/cover;
    overflow-x: hidden;
}

body {
    height: 100vh;
    color: #fff;
}

header > nav {
    padding: 1rem;
}